<div class="utility-bar bg-warning d-md-none">
	<div class="d-flex">
		<div class="ms-auto small d-flex flex-row"><a href="/account/sign-up/" class="utility-bar-link">
				Sign Up
				<span class="badge badge-pill badge-primary">$15</span></a> <a href="/account/"
				class="utility-bar-link">
				Log In <span class="far fa-user"></span></a></div>
	</div>
</div>
